
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 20px solid rgba(255, 255, 255, 0.5);
  border-top-right-radius: 50%;
  border-top-style: double;
  border-top-left-radius: 50%;  
  border-right-style: double;
  border-left-style: double;
  border-right-style: double;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  overflow: hidden;
  border-bottom-style: double;
  background-size:cover;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5), 0 0 50px rgba(255, 255, 255, 0.5);
}

input {
  min-height: fit-content;
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(99, 255, 28);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:focus {
  border-color: rgb(99, 255, 28);
  border-style: groove;
  outline:none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
#ADD:focus {
   
  border-color:rgb(99, 255, 28);
  border-style:groove
}
#ADD:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-color: white;
  cursor:cell;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

#ADD {
  border: 2px solid rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(99, 255, 28);
  cursor:pointer;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#title {
  position: absolute;
  border: 5px groove rgba(175, 175, 175, 0.5);
  padding: 20px;
  margin-top: -58px;
  background-color: rgba(175, 175, 175, 0.5);
  color: rgb(99, 255, 28);
  border-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-width: 100px;
  margin-left: calc(50% - 150px);
  border-left-style: ridge;
  border-top-style: outset;
  border-top-width: 30px;
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  animation: pulse 2s infinite alternate; 
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
  

#listadetarefas {
  border: 2px solid rgb(255, 255, 255);
  width: 600px;
  padding: 10px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  min-height: fit-content;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding-top: 100px;
  color: rgb(99, 255, 28);
}